
/* 
.btn.btn-primary {
    background-color: rgb(129, 93, 197) !important; 
    border-color: rgba(210, 233, 230, 0.918) !important; 
}
.bg-primary{
    background-color: rgb(140, 92, 228) !important; 
} */
